Repository IsmaelMartinez/betis-escocia: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx eslint --fix {staged_files}

format:
  run: npx prettier --write {staged_files}

Simplify Sabaly Easter egg to dialog with photo
  src/app/jugadores-historicos/[id]/page.tsx
  src/app/jugadores-historicos/page.tsx
Due: lint, format

Remove Sabaly Easter egg, treat as normal player
  src/app/jugadores-historicos/page.tsx
Due: lint, format

Add special Easter egg page for Youssouf Sabaly (#309)
  src/data/leyendas.ts
Due: lint, format

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: format

fix: improve security, accessibility, and code quality across codebase
  src/app/admin/AdminPageClient.refactored.tsx
  src/app/api/trivia/route.ts
  src/app/trivia/page.tsx
  src/components/hero/Hero.tsx
  src/components/layout/Layout.tsx
  src/components/social/SocialMediaDashboard.tsx
  src/lib/api/supabase.ts
  src/lib/schemas/contact.ts
  tests/unit/app/trivia.test.tsx
Due: lint, format

fix: address PR review comments and fix e2e trivia mocks
  e2e/trivia.spec.ts
  src/app/api/trivia/route.ts
  src/app/trivia/page.tsx
  src/lib/schemas/contact.ts
  src/types/trivia.ts
  tests/unit/lib/schemas/contact.test.ts
Due: lint, format

Refactor admin page and improve trivia security & accessibility (#327)
  e2e/trivia.spec.ts
  src/app/admin/AdminPageClient.refactored.tsx
  src/app/api/trivia/route.ts
  src/app/trivia/page.tsx
  src/components/hero/Hero.tsx
  src/components/layout/Layout.tsx
  src/components/social/SocialMediaDashboard.tsx
  src/lib/api/supabase.ts
  src/lib/schemas/contact.ts
  src/types/trivia.ts
  tests/unit/app/trivia.test.tsx
  tests/unit/lib/schemas/contact.test.ts
Due: lint, format

fix: address PR review comments
  src/app/api/trivia/route.ts
  src/app/trivia/page.tsx
  src/components/layout/Layout.tsx
  src/lib/schemas/contact.ts
  src/lib/trivia/utils.ts
  tests/unit/app/trivia.test.tsx
  tests/unit/lib/schemas/contact.test.ts
Due: lint, format

feat: Add "Tal día como hoy" Betis history efemérides component
  src/app/page.tsx
  src/components/widgets/BetisEfemerides.tsx
  src/data/efemerides.ts
  src/lib/features/featureFlags.ts
  tests/unit/components/BetisEfemerides.test.tsx
  tests/unit/data/efemerides.test.ts
Due: lint, format

style: Apply Prettier formatting to BetisEfemerides test
  tests/unit/components/BetisEfemerides.test.tsx
Due: lint, format

fix: Address PR review comments for BetisEfemerides
  src/components/widgets/BetisEfemerides.tsx
Due: lint, format

feat: Add Scotland historical efemerides and monthly fallbacks
  src/components/widgets/BetisEfemerides.tsx
  src/data/efemerides.ts
  tests/unit/components/BetisEfemerides.test.tsx
  tests/unit/data/efemerides.test.ts
Due: lint, format

feat: Add "Tal día como hoy" Betis & Scotland history efemérides component (#328)
  src/app/page.tsx
  src/components/widgets/BetisEfemerides.tsx
  src/data/efemerides.ts
  src/lib/features/featureFlags.ts
  tests/unit/components/BetisEfemerides.test.tsx
  tests/unit/data/efemerides.test.ts
Due: lint, format

chore: Comment out broken Vercel deploy job in CI
  .github/workflows/ci.yml
Due: none

chore: Improve deploy job comments with context and issue ref
  .github/workflows/ci.yml
Due: none

chore: Comment out broken Vercel deploy job in CI (#330)
  .github/workflows/ci.yml
Due: none

chore: Group Dependabot PRs and bulk update dependencies
  .github/dependabot.yml
  package-lock.json
Due: format

chore: Exclude core framework deps from Dependabot group
  .github/dependabot.yml
Due: none

chore: Group Dependabot PRs and bulk update dependencies (#331)
  .github/dependabot.yml
  package-lock.json
Due: format

chore: Update jsdom 28, lucide-react 0.564.0
  package-lock.json
  package.json
Due: format

chore: Tighten Node.js engines for jsdom 28 compatibility
  package.json
Due: format

chore: Update jsdom 28 and lucide-react 0.564.0 (#335)
  package-lock.json
  package.json
Due: format

chore: Migrate to ESLint 10
  package-lock.json
  package.json
Due: format

chore: Add eslint override for clean peer dep resolution
  package.json
Due: format

chore: Migrate to ESLint 10 (#336)
  package-lock.json
  package.json
Due: format

fix: Merge duplicate overrides in package.json and update CLAUDE.md
  CLAUDE.md
  package.json
Due: format

docs: Update version references across all docs
  docs/architecture-simplification-plan.md
  docs/database-setup.md
  docs/developer-guide.md
  docs/developer-setup.md
  docs/testing-guide.md
Due: format

fix: Merge duplicate overrides and update CLAUDE.md (#337)
  CLAUDE.md
  docs/architecture-simplification-plan.md
  docs/database-setup.md
  docs/developer-guide.md
  docs/developer-setup.md
  docs/testing-guide.md
  package.json
Due: format

feat: Add internationalization (i18n) with Spanish and English/Scottish translations
  messages/en.json
  messages/es.json
  next.config.js
  package-lock.json
  package.json
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/components/LanguageSwitcher.tsx
  src/components/layout/Layout.tsx
  src/i18n/navigation.ts
  src/i18n/request.ts
  src/i18n/routing.ts
  src/middleware.ts
  tests/setup.ts
  tests/unit/app/layout.test.tsx
  tests/unit/components/Layout.test.tsx
  tests/unit/middleware.test.ts
Due: lint, format

style: Apply pre-commit formatter changes
  html/index.html
  next.config.js
  src/components/layout/Layout.tsx
  src/middleware.ts
  tests/unit/middleware.test.ts
Due: lint, format

style: Apply pre-commit formatter changes to moved files
  src/app/[locale]/admin/hooks/useAdminContacts.ts
  src/app/[locale]/admin/hooks/useAdminMatches.ts
  src/app/[locale]/admin/hooks/useAdminStats.ts
  src/app/[locale]/admin/views/ContactsView.tsx
  src/app/[locale]/admin/views/DashboardView.tsx
  src/app/[locale]/admin/views/MatchesView.tsx
  src/app/[locale]/clasificacion/page.tsx
  src/app/[locale]/clasificacion/utils.ts
  src/app/[locale]/dashboard/[[...rest]]/page.tsx
  src/app/[locale]/dashboard/contact-submissions/page.tsx
  src/app/[locale]/jugadores-historicos/page.tsx
  src/app/[locale]/nosotros/page.tsx
  src/app/[locale]/partidos/[matchId]/page.tsx
  src/app/[locale]/partidos/page.tsx
  src/app/[locale]/sign-in/[[...rest]]/page.tsx
  src/app/[locale]/sign-up/[[...rest]]/page.tsx
  src/app/[locale]/trivia/page.tsx
  tests/unit/app/admin/hooks/useAdminStats.test.ts
  tests/unit/app/admin/page.test.tsx
  tests/unit/app/jugadores-historicos.test.tsx
  tests/unit/app/nosotros.test.tsx
  tests/unit/app/partidos/page.test.tsx
  tests/unit/app/rsvp.test.tsx
Due: lint, format

Connect next-intl translations to all pages for proper language switching
  messages/en.json
  messages/es.json
  src/app/[locale]/clasificacion/page.tsx
  src/app/[locale]/contacto/page.tsx
  src/app/[locale]/nosotros/page.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/partidos/page.tsx
  src/app/[locale]/rsvp/page.tsx
  src/app/[locale]/unete/page.tsx
  src/components/hero/HeroCommunity.tsx
  tests/setup.ts
  tests/unit/app/contacto.test.tsx
  tests/unit/app/nosotros.test.tsx
  tests/unit/app/page.test.tsx
  tests/unit/app/partidos/page.test.tsx
  tests/unit/app/rsvp.test.tsx
  tests/unit/app/unete.test.tsx
  tests/unit/components/HeroCommunity.test.tsx
Due: lint, format

Apply Prettier formatting from pre-commit hook
  src/app/[locale]/page.tsx
  src/app/[locale]/rsvp/page.tsx
  src/app/[locale]/unete/page.tsx
  tests/unit/app/contacto.test.tsx
  tests/unit/app/page.test.tsx
  tests/unit/app/partidos/page.test.tsx
  tests/unit/app/rsvp.test.tsx
  tests/unit/components/HeroCommunity.test.tsx
Due: lint, format

chore: Update dependencies including major version bumps
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/sign-in/[[...rest]]/page.tsx
  src/app/sign-up/[[...rest]]/page.tsx
Due: lint, format

chore: Remove tracked html/ files that are gitignored
  html/favicon.ico
  html/favicon.svg
  html/index.html
Due: none

fix: Address PR review comments
  html/assets/index-D_ryMEPs.js
  html/assets/index-X8b7Z_4p.css
  html/bg.png
  src/app/layout.tsx
Due: lint, format

chore: Update Clerk v7, dependencies, and remove html artifacts (#360)
  html/assets/index-D_ryMEPs.js
  html/assets/index-X8b7Z_4p.css
  html/bg.png
  html/favicon.ico
  html/favicon.svg
  html/index.html
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/sign-in/[[...rest]]/page.tsx
  src/app/sign-up/[[...rest]]/page.tsx
Due: lint, format

fix: Add daily standings refresh and stale cache fallback
  .github/workflows/refresh-standings.yml
  src/app/api/standings/route.ts
Due: lint, format

fix: Address PR review comments
  .github/workflows/refresh-standings.yml
  src/app/api/standings/route.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx}
  format: any of: *.{ts,tsx,js,jsx,json,md}
