Repository IsmaelMartinez/betis-escocia: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: npx eslint --fix {staged_files}
    format:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: npx prettier --write {staged_files}
    type-check:
      run: npm run type-check

docs: update ideas.md with implementation status
  tasks/ideas.md
Due: format

docs: add repository simplification research plan
  docs/research/2025-12-repository-simplification.md
Due: format

docs: add AI assistant research for topic-restricted chatbot
  docs/research/2025-12-ai-assistant-research.md
  tasks/ideas.md
Due: format

docs: add 3D penalty shootout game research with spikes
  docs/research/2025-12-3d-penalty-game-research.md
Due: format

docs: add Soylenti (Rumors Page) research with AI agent approach
  docs/research/2025-12-soylenti-rumors-research.md
  tasks/ideas.md
Due: format

Update eslint.config.mjs
  eslint.config.mjs
Due: none

Update docs/research/2025-12-soylenti-rumors-research.md
  docs/research/2025-12-soylenti-rumors-research.md
Due: format

Update docs/research/2025-12-ai-assistant-research.md
  docs/research/2025-12-ai-assistant-research.md
Due: format

docs: add TV & Streaming research for Betis matches
  docs/research/2025-12-tv-streaming-research.md
Due: format

fix: resolve test and type-check failures
  html/index.html
  package-lock.json
  package.json
  tests/integration/api/admin/roles.test.ts
Due: lint, format

fix: restore lefthook and document notification blocker
  package-lock.json
  package.json
  tasks/ideas.md
Due: format

docs: focus TV streaming research on UK only
  docs/research/2025-12-tv-streaming-research.md
  tasks/ideas.md
Due: format

docs: use GitHub Actions instead of Vercel Cron for scheduled jobs
  docs/research/2025-12-soylenti-rumors-research.md
  tasks/ideas.md
Due: format

docs: update Gemini models to current 2.5 version
  docs/research/2025-12-ai-assistant-research.md
  docs/research/2025-12-soylenti-rumors-research.md
Due: format

docs: add resolution tracking and recurring rumor detection to Soylenti
  docs/research/2025-12-soylenti-rumors-research.md
Due: format

docs: update AI model information to December 2025
  docs/research/2025-12-ai-assistant-research.md
  docs/research/2025-12-soylenti-rumors-research.md
Due: format

Update tasks/ideas.md
  tasks/ideas.md
Due: format

fix: Storybook ESM compatibility and feature flag naming
  .storybook/main.ts
  docs/research/2025-12-ai-assistant-research.md
Due: lint, format

fix: remove duplicate 'isco' in AI assistant keyword list
  docs/research/2025-12-ai-assistant-research.md
Due: format

docs: add transfer window tracking to Soylenti rumors
  docs/research/2025-12-soylenti-rumors-research.md
Due: format

fix: replace problematic unicode flag in TV research title
  docs/research/2025-12-tv-streaming-research.md
Due: format

fix: restore vitest coverage options and package overrides
  package.json
  vitest.config.ts
Due: lint, format

fix: update package-lock.json for overrides
  package-lock.json
Due: format

fix: lower coverage thresholds to match reality with Vitest 4.x
  vitest.config.ts
Due: lint, format

docs: Multiple Research Documents (#188)
  .storybook/main.ts
  docs/research/2025-12-ai-assistant-research.md
  docs/research/2025-12-repository-simplification.md
  docs/research/2025-12-soylenti-rumors-research.md
  docs/research/2025-12-tv-streaming-research.md
  eslint.config.mjs
  html/index.html
  package-lock.json
  package.json
  tasks/ideas.md
  tests/integration/api/standings.test.ts
  tests/integration/api/webhooks/clerk.test.ts
  tests/unit/components/InstagramEmbed.test.tsx
  tests/unit/lib/notifications/simpleNotifications.test.ts
  tests/unit/middleware.test.ts
  tsconfig.json
  vitest.config.ts
Due: lint, format

perf: improve Lighthouse scores - optimize bundles, caching, and lazy loading
  next.config.js
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ClassificationWidget.tsx
  src/components/FacebookSDK.tsx
  src/components/HeroCommunity.tsx
  src/components/Layout.tsx
  src/components/UpcomingMatchesWidget.tsx
  tests/unit/app/layout.test.tsx
  tests/unit/app/page.test.tsx
  tests/unit/components/ClassificationWidget.test.tsx
Due: lint, format
