Repository IsmaelMartinez/betis-escocia: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: npx eslint --fix {staged_files}
    format:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: npx prettier --write {staged_files}
    type-check:
      run: npm run type-check

Fix high severity security vulnerability in qs package (#265)
  package-lock.json
Due: format

Remove squad management and starting eleven features
  scripts/sync-squad.ts
  sql/0014_drop_squad_and_formations.sql
  src/app/api/admin/formations/[id]/route.ts
  src/app/api/admin/formations/route.ts
  src/app/api/admin/players/[id]/aliases/route.ts
  src/app/api/admin/squad/[id]/route.ts
  src/app/api/admin/squad/route.ts
  src/app/api/admin/squad/sync/route.ts
  src/components/admin/players/PitchView.tsx
  src/components/admin/players/PlayersTab.tsx
  src/components/admin/players/SquadManagement.tsx
  src/components/admin/players/StartingElevenBuilder.tsx
  src/lib/schemas/formation.ts
  src/lib/schemas/player.ts
  src/lib/schemas/squad.ts
  src/lib/supabase.ts
  src/types/squad.ts
Due: lint, format

Address PR review feedback
  src/app/api/admin/squad/sync/route.ts
  src/lib/schemas/player.ts
Due: lint, format

Remove squad management and starting eleven features (#266)
  scripts/sync-squad.ts
  sql/0014_drop_squad_and_formations.sql
  src/app/api/admin/formations/[id]/route.ts
  src/app/api/admin/formations/route.ts
  src/app/api/admin/players/[id]/aliases/route.ts
  src/app/api/admin/squad/[id]/route.ts
  src/app/api/admin/squad/route.ts
  src/app/api/admin/squad/sync/route.ts
  src/components/admin/players/PitchView.tsx
  src/components/admin/players/PlayersTab.tsx
  src/components/admin/players/SquadManagement.tsx
  src/components/admin/players/StartingElevenBuilder.tsx
  src/lib/schemas/formation.ts
  src/lib/schemas/player.ts
  src/lib/schemas/squad.ts
  src/lib/supabase.ts
  src/types/squad.ts
Due: lint, format

Consolidate database migrations with numbered schema files
  sql/0000_complete_schema.sql
  sql/0001_setup.sql
  sql/0002_add_betis_news_table.sql
  sql/0002_seed_data.sql
  sql/0003_add_transfer_direction.sql
  sql/0004_add_players_tables.sql
  sql/0005_add_admin_reassessment.sql
  sql/0006_add_player_aliases.sql
  sql/0007_fix_players_and_add_hidden.sql
  sql/0008_add_current_squad.sql
  sql/0009_add_squad_members.sql
  sql/0010_add_starting_elevens.sql
  sql/0011_add_player_enhancements.sql
  sql/0012_add_news_cleanup_function.sql
  sql/0013_add_admin_rls_policies.sql
  sql/0014_drop_squad_and_formations.sql
  sql/README.md
Due: format

Apply Prettier formatting to README
  sql/README.md
Due: format

Security fixes and code cleanup for database schema
  sql/0001_setup.sql
  sql/README.md
Due: format

Additional security fixes for admin RLS policies
  sql/0001_setup.sql
  sql/README.md
Due: format

Consolidate database migrations with numbered schema files (#267)
  sql/0000_complete_schema.sql
  sql/0001_setup.sql
  sql/0002_add_betis_news_table.sql
  sql/0002_seed_data.sql
  sql/0003_add_transfer_direction.sql
  sql/0004_add_players_tables.sql
  sql/0005_add_admin_reassessment.sql
  sql/0006_add_player_aliases.sql
  sql/0007_fix_players_and_add_hidden.sql
  sql/0008_add_current_squad.sql
  sql/0009_add_squad_members.sql
  sql/0010_add_starting_elevens.sql
  sql/0011_add_player_enhancements.sql
  sql/0012_add_news_cleanup_function.sql
  sql/0013_add_admin_rls_policies.sql
  sql/0014_drop_squad_and_formations.sql
  sql/README.md
Due: format

feat: configurable news age filter and new Telegram feeds
  .env.local.example
  scripts/sync-rumors.ts
  src/services/rssFetcherService.ts
  src/services/rumorSyncService.ts
  tests/unit/services/rssFetcherService.test.ts
Due: lint, format

fix: replace invalid @transfersmarketfootball with @real_betis_balompi
  src/services/rssFetcherService.ts
  tests/unit/services/rssFetcherService.test.ts
Due: lint, format

Fix Telegram rate limiting and update tests for sequential fetching
  src/services/rssFetcherService.ts
  tests/setup.ts
  tests/unit/services/rssFetcherService.test.ts
  vitest.config.ts
Due: lint, format

Add exponential backoff retry for Telegram feeds
  src/services/rssFetcherService.ts
  tests/setup.ts
  tests/unit/services/rssFetcherService.test.ts
  vitest.config.ts
Due: lint, format

Increase RSS parser timeout to 30s for slow Telegram bridge
  src/services/rssFetcherService.ts
Due: lint, format

Address PR review comments
  scripts/sync-rumors.ts
  src/services/rssFetcherService.ts
Due: lint, format

feat: configurable news age filter and new Telegram feeds (#268)
  .env.local.example
  scripts/sync-rumors.ts
  src/services/rssFetcherService.ts
  src/services/rumorSyncService.ts
  tests/setup.ts
  tests/unit/services/rssFetcherService.test.ts
  vitest.config.ts
Due: lint, format

Add Football España and TransferNews_Live feeds for earlier transfer rumors
  src/services/rssFetcherService.ts
  tests/unit/services/rssFetcherService.test.ts
Due: lint, format

Refactor source assertion test to be self-updating
  tests/unit/services/rssFetcherService.test.ts
Due: lint, format

Add Football España and TransferNews_Live feeds for earlier transfer rumors (#269)
  src/services/rssFetcherService.ts
  tests/unit/services/rssFetcherService.test.ts
Due: lint, format

Remove unused features and dependencies
  package-lock.json
  package.json
  src/app/api/clerk/webhook/route.ts
  src/app/api/webhooks/clerk/route.ts
  src/app/dashboard/[[...rest]]/page.tsx
  src/app/dashboard/contact-submissions/page.tsx
  src/app/referencias/page.tsx
  src/app/sign-up/[[...rest]]/page.tsx
  src/components/RSVPForm.tsx
  src/components/RSVPWidget.tsx
  src/lib/featureFlags.ts
  tests/integration/api/webhooks/clerk.test.ts
  tests/unit/app/referencias.test.tsx
  tests/unit/components/RSVPForm.test.tsx
  tests/unit/lib/featureProtection.test.tsx
Due: lint, format

Remove unused webhook helper functions
  src/lib/supabase.ts
  tests/unit/lib/supabase.test.ts
Due: lint, format

Remove unused features and dependencies (#270)
  package-lock.json
  package.json
  src/app/api/clerk/webhook/route.ts
  src/app/api/webhooks/clerk/route.ts
  src/app/dashboard/[[...rest]]/page.tsx
  src/app/dashboard/contact-submissions/page.tsx
  src/app/referencias/page.tsx
  src/app/sign-up/[[...rest]]/page.tsx
  src/components/RSVPForm.tsx
  src/components/RSVPWidget.tsx
  src/lib/featureFlags.ts
  src/lib/supabase.ts
  tests/integration/api/webhooks/clerk.test.ts
  tests/unit/app/referencias.test.tsx
  tests/unit/components/RSVPForm.test.tsx
  tests/unit/lib/featureProtection.test.tsx
  tests/unit/lib/supabase.test.ts
Due: lint, format

Remove unreliable Telegram feeds from RSS fetcher
  src/services/rssFetcherService.ts
Due: lint, format

Update tests to remove Telegram feed expectations
  tests/unit/services/rssFetcherService.test.ts
Due: lint, format

Fix test date dependencies to use dynamic dates
  tests/integration/api/soylenti/trending.test.ts
  tests/unit/components/Sparkline.test.tsx
Due: lint, format

Update src/services/rssFetcherService.ts
  src/services/rssFetcherService.ts
Due: lint, format

Reduce rumor sync frequency from 2 hours to 6 hours
  .github/workflows/sync-rumors.yml
Due: none

Remove unreliable Telegram feeds (#280)
  .github/workflows/sync-rumors.yml
  src/services/rssFetcherService.ts
  tests/integration/api/soylenti/trending.test.ts
  tests/unit/components/Sparkline.test.tsx
  tests/unit/services/rssFetcherService.test.ts
Due: lint, format

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: format

feat: run rumours hourly and auto-detect player aliases
  .github/workflows/sync-rumors.yml
  src/services/playerNormalizationService.ts
Due: lint, format

style: apply Prettier formatting
  src/services/playerNormalizationService.ts
Due: lint, format

feat: use fuzzball for fuzzy player name matching
  src/services/playerNormalizationService.ts
Due: lint, format

feat: run rumours hourly and auto-detect player aliases (#292)
  .github/workflows/sync-rumors.yml
  src/services/playerNormalizationService.ts
Due: lint, format

chore: disable scheduled news sync
  .github/workflows/sync-rumors.yml
Due: none

Update .github/workflows/sync-rumors.yml
  .github/workflows/sync-rumors.yml
Due: none

chore: disable scheduled news sync (#293)
  .github/workflows/sync-rumors.yml
Due: none

feat: enable classification page by default
  CLAUDE.md
  src/lib/featureFlags.ts
Due: lint, format
