Repository IsmaelMartinez/betis-escocia: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: npx eslint --fix {staged_files}
    format:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: npx prettier --write {staged_files}
    type-check:
      run: npm run type-check

fix(layout): use hasFeature for auth gate and improve mobile menu a11y
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
Due: lint, format

style(layout): inline hasFeature import per prettier
  src/components/layout/Layout.tsx
Due: lint, format

claude/review-roadmap-planning-SLh0z (#397)
  docs/roadmap.md
  src/components/layout/DebugInfoPanel.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/UserMenu.tsx
Due: lint, format

chore(deps): bump @clerk/nextjs to 7.2.1 and fix flaky MatchesList tests
  package-lock.json
  package.json
  tests/unit/components/admin/MatchesList.test.tsx
Due: lint, format

style: apply prettier formatting to MatchesList test file
  tests/unit/components/admin/MatchesList.test.tsx
Due: lint, format

fix(i18n): address code review findings
  docs/architecture-simplification-plan.md
  next.config.js
  src/app/[locale]/admin/hooks/useAdminContacts.ts
  src/app/[locale]/admin/hooks/useAdminMatches.ts
  src/app/[locale]/admin/hooks/useAdminStats.ts
  src/app/[locale]/admin/views/ContactsView.tsx
  src/app/[locale]/admin/views/DashboardView.tsx
  src/app/[locale]/admin/views/MatchesView.tsx
  src/app/[locale]/clasificacion/utils.ts
  src/app/[locale]/contacto/page.tsx
  src/app/[locale]/dashboard/[[...rest]]/page.tsx
  src/app/[locale]/dashboard/contact-submissions/page.tsx
  src/app/[locale]/gdpr/page.tsx
  src/app/[locale]/jugadores-historicos/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/partidos/[matchId]/page.tsx
  src/app/[locale]/sign-in/[[...rest]]/page.tsx
  src/app/[locale]/sign-up/[[...rest]]/page.tsx
  src/app/[locale]/trivia/page.tsx
  src/components/layout/Layout.tsx
  tests/unit/app/admin/hooks/useAdminStats.test.ts
  tests/unit/app/admin/page.test.tsx
  tests/unit/app/error.test.tsx
  tests/unit/app/joaquin.test.tsx
  tests/unit/app/jugadores-historicos.test.tsx
  tests/unit/app/layout.test.tsx
  tests/unit/app/nosotros.test.tsx
  tests/unit/app/partidos/page.test.tsx
  tests/unit/app/rsvp.test.tsx
  tests/unit/lib/features/featureFlags.test.ts
  tests/unit/middleware.test.ts
Due: lint, format

fix(i18n): address infra + test review findings
  src/middleware.ts
  tests/unit/app/sitemap.test.ts
Due: lint, format

chore: apply prettier formatting to sitemap test
  tests/unit/app/sitemap.test.ts
Due: lint, format

fix(i18n): address PR review comments from Gemini + Copilot
  messages/en.json
  messages/es.json
  src/app/[locale]/dashboard/contact-submissions/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/partidos/[matchId]/page.tsx
  src/app/[locale]/sign-in/[[...rest]]/page.tsx
  src/app/[locale]/sign-up/[[...rest]]/page.tsx
  src/app/[locale]/trivia/page.tsx
  tests/unit/app/trivia.test.tsx
Due: lint, format

feat(i18n): localize Zod validation errors
  docs/architecture-simplification-plan.md
  messages/en.json
  messages/es.json
  src/app/api/contact/route.ts
  src/app/api/gdpr/route.ts
  src/app/api/rsvp/route.ts
  src/app/api/trivia/route.ts
  src/components/rsvp/RSVPForm.tsx
  src/components/rsvp/RSVPWidget.tsx
  src/lib/api/apiUtils.ts
  src/lib/schemas/contact.ts
  src/lib/schemas/rsvp.ts
  src/lib/schemas/trivia.ts
  tests/integration/api/gdpr.test.ts
  tests/unit/lib/schemas/rsvp.test.ts
Due: lint, format

chore: apply prettier formatting
  src/app/api/gdpr/route.ts
  src/app/api/rsvp/route.ts
  src/app/api/trivia/route.ts
  src/lib/api/apiUtils.ts
  src/lib/schemas/contact.ts
  src/lib/schemas/rsvp.ts
  tests/integration/api/gdpr.test.ts
Due: lint, format

chore(deps): bump @clerk/nextjs to 7.2.1 and fix flaky MatchesList tests (#399)
  package-lock.json
  package.json
  tests/unit/components/admin/MatchesList.test.tsx
Due: lint, format

chore: regenerate lockfile after merge
  package-lock.json
Due: format

chore(deps): bump all dependencies to latest minor/patch versions
  package-lock.json
  package.json
Due: format

chore(deps): bump node engines min to 22.13.0
  package.json
Due: format

Upgrade dependencies to latest versions (#402)
  package-lock.json
  package.json
Due: format

chore: auto-merge dependabot PRs (non-major)
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: auto-merge dependabot PRs (non-major) (#404)
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore(security): bump postcss to patch GHSA-qx2v-qp2m-jg93
  package-lock.json
  package.json
Due: format

chore(security): cap postcss override at ^8.5.10
  package.json
Due: format

chore(security): bump postcss to patch GHSA-qx2v-qp2m-jg93 (#405)
  package-lock.json
  package.json
Due: format

chore: add github-actions to dependabot config
  .github/dependabot.yml
Due: none

chore: group github-actions updates and cap open PRs
  .github/dependabot.yml
Due: none

chore: add github-actions to dependabot config (#407)
  .github/dependabot.yml
Due: none

docs(claude): add homepage convention
  CLAUDE.md
Due: format

chore: address Copilot feedback — clarify homepage field
  CLAUDE.md
Due: format

docs(claude): add homepage convention (#415)
  CLAUDE.md
Due: format

fix(supabase): lazy-init client so module load tolerates missing env
  src/lib/api/supabase.ts
Due: lint, format

fix(supabase): bind methods and add set trap on lazy proxy
  src/lib/api/supabase.ts
Due: lint, format

fix(supabase): use placeholder env defaults instead of Proxy lazy-init
  src/lib/api/supabase.ts
Due: lint, format

fix(supabase): lazy-init client so module load tolerates missing env (#416)
  src/lib/api/supabase.ts
Due: lint, format

fix(clasificacion): force-dynamic so build doesn't call football-data API
  src/app/clasificacion/page.tsx
Due: lint, format

fix(clasificacion): force-dynamic so build doesn't call football-data API (#418)
  src/app/clasificacion/page.tsx
Due: lint, format

fix(deps): override @babel/plugin-transform-modules-systemjs ≥7.29.4
  package-lock.json
  package.json
Due: format

fix(deps): override @babel/plugin-transform-modules-systemjs ≥7.29.4 (#419)
  package.json
Due: format

style: prettier auto-format pass after trivia removal
  playwright/global.setup.ts
  src/lib/api/supabase.ts
  tests/unit/lib/api/supabase.test.ts
Due: lint, format

chore(sql): remove trivia tables, seed data, and docs
  sql/0001_setup.sql
  sql/0002_seed_data.sql
  sql/README.md
Due: format
