Repository IsmaelMartinez/betis-escocia: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: npx eslint --fix {staged_files}
    format:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: npx prettier --write {staged_files}
    type-check:
      run: npm run type-check

refactor(db): replace classification_cache with unstable_cache + dead-code pass
  docs/plans/db-removal-plan.md
  sql/0001_setup.sql
  sql/README.md
  src/app/api/standings/route.ts
  src/components/match/UpcomingMatches.stories.tsx
  src/components/match/UpcomingMatches.tsx
  src/lib/api/supabase.ts
  src/lib/schemas/admin.ts
  src/lib/utils/matchUtils.ts
  tests/integration/api/standings.test.ts
  tests/unit/components/UpcomingMatches.test.tsx
  tests/unit/lib/schemas/admin.test.ts
  tests/unit/lib/utils/matchUtils.test.ts
Due: lint, format

style: prettier auto-format pass after DB cleanup
  src/lib/schemas/admin.ts
  tests/integration/api/standings.test.ts
  tests/unit/lib/schemas/admin.test.ts
Due: lint, format

refactor(db): replace classification_cache with unstable_cache + dead-code pass (#426)
  docs/plans/db-removal-plan.md
  sql/0001_setup.sql
  sql/README.md
  src/app/api/standings/route.ts
  src/components/match/UpcomingMatches.stories.tsx
  src/components/match/UpcomingMatches.tsx
  src/lib/api/supabase.ts
  src/lib/schemas/admin.ts
  src/lib/utils/matchUtils.ts
  tests/integration/api/standings.test.ts
  tests/unit/components/UpcomingMatches.test.tsx
  tests/unit/lib/schemas/admin.test.ts
  tests/unit/lib/utils/matchUtils.test.ts
Due: lint, format

refactor: switch partidos to live API, remove admin panel
  src/app/admin/AdminPageClient.tsx
  src/app/admin/hooks/useAdminMatches.ts
  src/app/admin/page.tsx
  src/app/admin/views/MatchesView.tsx
  src/app/api/admin/sync-match/[matchId]/route.ts
  src/app/api/admin/sync-matches/route.ts
  src/app/api/matches/route.ts
  src/app/api/sync-outdated-matches/route.ts
  src/app/layout.tsx
  src/app/partidos/page.tsx
  src/components/admin/MatchForm.stories.tsx
  src/components/admin/MatchForm.tsx
  src/components/admin/MatchesList.stories.tsx
  src/components/admin/MatchesList.tsx
  src/components/match/AllDatabaseMatches.stories.tsx
  src/components/match/AllDatabaseMatches.tsx
  src/components/match/AllMatches.tsx
  src/components/match/BackgroundMatchSync.tsx
  src/components/match/MatchCard.tsx
  src/components/match/UpcomingMatchesWidget.tsx
  src/middleware.ts
  tests/integration/api/admin/sync-matches.test.ts
  tests/integration/api/matches-comprehensive.test.ts
  tests/integration/api/sync-outdated-matches.test.ts
  tests/unit/app/admin/page.test.tsx
  tests/unit/app/partidos/page.test.tsx
  tests/unit/components/AllDatabaseMatches.test.tsx
  tests/unit/components/BackgroundMatchSync.test.tsx
  tests/unit/components/MatchCard.test.tsx
  tests/unit/components/UpcomingMatchesWidget.test.tsx
  tests/unit/components/admin/MatchForm.test.tsx
  tests/unit/components/admin/MatchesList.test.tsx
  tests/unit/middleware-extended.test.ts
  tests/unit/middleware.test.ts
Due: lint, format

style: apply prettier formatting from pre-commit hook
  src/app/api/matches/route.ts
  src/components/match/AllMatches.tsx
  src/components/match/MatchCard.tsx
  tests/integration/api/matches-comprehensive.test.ts
Due: lint, format

chore: apply review suggestions on PR #427
  src/components/match/AllMatches.tsx
  src/components/match/MatchCard.tsx
  tests/unit/components/AllMatches.test.tsx
  tests/unit/components/UpcomingMatchesWidget.test.tsx
Due: lint, format

chore: address gemini-code-assist feedback on PR #427
  src/components/match/AllMatches.tsx
  src/components/match/UpcomingMatchesWidget.tsx
Due: lint, format

chore: address copilot reviewer feedback on PR #427
  src/components/match/MatchCard.tsx
  src/lib/constants/team.ts
  src/services/footballDataService.ts
Due: lint, format

refactor: switch partidos to live API, remove admin panel (iteration 1/6) (#427)
  src/app/admin/AdminPageClient.tsx
  src/app/admin/hooks/useAdminMatches.ts
  src/app/admin/page.tsx
  src/app/admin/views/MatchesView.tsx
  src/app/api/admin/sync-match/[matchId]/route.ts
  src/app/api/admin/sync-matches/route.ts
  src/app/api/matches/route.ts
  src/app/api/sync-outdated-matches/route.ts
  src/app/layout.tsx
  src/app/partidos/page.tsx
  src/components/admin/MatchForm.stories.tsx
  src/components/admin/MatchForm.tsx
  src/components/admin/MatchesList.stories.tsx
  src/components/admin/MatchesList.tsx
  src/components/match/AllDatabaseMatches.stories.tsx
  src/components/match/AllDatabaseMatches.tsx
  src/components/match/AllMatches.tsx
  src/components/match/BackgroundMatchSync.tsx
  src/components/match/MatchCard.tsx
  src/components/match/UpcomingMatchesWidget.tsx
  src/lib/constants/team.ts
  src/middleware.ts
  src/services/footballDataService.ts
  tests/integration/api/admin/sync-matches.test.ts
  tests/integration/api/matches-comprehensive.test.ts
  tests/integration/api/sync-outdated-matches.test.ts
  tests/unit/app/admin/page.test.tsx
  tests/unit/app/partidos/page.test.tsx
  tests/unit/components/AllDatabaseMatches.test.tsx
  tests/unit/components/AllMatches.test.tsx
  tests/unit/components/BackgroundMatchSync.test.tsx
  tests/unit/components/MatchCard.test.tsx
  tests/unit/components/admin/MatchForm.test.tsx
  tests/unit/components/admin/MatchesList.test.tsx
  tests/unit/middleware-extended.test.ts
  tests/unit/middleware.test.ts
Due: lint, format

chore: remove supabase dependency and remaining DB surface
  .env.local.example
  package-lock.json
  package.json
  sql/0001_setup.sql
  sql/0002_seed_data.sql
  sql/README.md
  sql/legacy/add_cache_id_column.sql
  sql/legacy/add_classification_caching.sql
  sql/legacy/add_push_notifications_support.sql
  sql/legacy/add_updated_by_to_contact_submissions.sql
  sql/legacy/cleanup_old_rsvps.sql
  sql/legacy/comprehensive_gdpr_cleanup.sql
  sql/legacy/contact_submissions_rls.sql
  sql/legacy/create_notification_preferences_table.sql
  sql/legacy/disable_notification_preferences_rls.sql
  sql/legacy/fix_contact_submissions_clerk_rls.sql
  sql/legacy/fix_notification_preferences_clerk_auth.sql
  sql/legacy/fix_notification_preferences_policies.sql
  sql/legacy/initial_setup.sql
  sql/legacy/rsvps_rls.sql
  src/components/match/MatchTicket.stories.tsx
  src/components/match/MatchTicket.tsx
  src/lib/api/apiUtils.ts
  src/lib/api/supabase.ts
  src/types/env.d.ts
  tests/integration/api/health.test.ts
  tests/integration/api/matches.test.ts
  tests/unit/lib/api/apiUtils.test.ts
  tests/unit/lib/api/supabase.test.ts
Due: lint, format

style: apply prettier formatting from pre-commit hook
  tests/integration/api/matches.test.ts
Due: lint, format

chore: remove supabase dependency and remaining DB surface (iteration 2/6) (#428)
  .env.local.example
  package-lock.json
  package.json
  sql/0001_setup.sql
  sql/0002_seed_data.sql
  sql/README.md
  sql/legacy/add_cache_id_column.sql
  sql/legacy/add_classification_caching.sql
  sql/legacy/add_push_notifications_support.sql
  sql/legacy/add_updated_by_to_contact_submissions.sql
  sql/legacy/cleanup_old_rsvps.sql
  sql/legacy/comprehensive_gdpr_cleanup.sql
  sql/legacy/contact_submissions_rls.sql
  sql/legacy/create_notification_preferences_table.sql
  sql/legacy/disable_notification_preferences_rls.sql
  sql/legacy/fix_contact_submissions_clerk_rls.sql
  sql/legacy/fix_notification_preferences_clerk_auth.sql
  sql/legacy/fix_notification_preferences_policies.sql
  sql/legacy/initial_setup.sql
  sql/legacy/rsvps_rls.sql
  src/components/match/MatchTicket.stories.tsx
  src/components/match/MatchTicket.tsx
  src/lib/api/apiUtils.ts
  src/lib/api/supabase.ts
  src/types/env.d.ts
  tests/integration/api/health.test.ts
  tests/integration/api/matches.test.ts
  tests/unit/lib/api/apiUtils.test.ts
  tests/unit/lib/api/supabase.test.ts
Due: lint, format

chore: remove clerk authentication
  .env.local.example
  .storybook/main.ts
  .storybook/preview.ts
  __mocks__/@clerk/nextjs.ts
  __mocks__/@clerk/nextjs/server.ts
  __mocks__/@supabase/supabase-js.ts
  package-lock.json
  package.json
  playwright.config.ts
  playwright/global.setup.ts
  src/app/api/matches/route.ts
  src/app/api/standings/route.ts
  src/app/layout.tsx
  src/app/sign-in/[[...rest]]/page.tsx
  src/app/sign-up/[[...rest]]/page.tsx
  src/components/ClerkDecorator.tsx
  src/components/SentryUserContext.stories.tsx
  src/components/SentryUserContext.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.stories.tsx
  src/components/layout/Layout.tsx
  src/components/layout/UserMenu.tsx
  src/lib/api/apiUtils.ts
  src/lib/auth/adminApiProtection.ts
  src/lib/auth/roleUtils.ts
  src/lib/auth/withAdminRole.tsx
  src/lib/clerk/__mocks__/storybook.tsx
  src/lib/features/featureFlags.ts
  src/middleware.ts
  tests/integration/auth/clerkIntegration.test.ts
  tests/security/comprehensive-security.test.ts
  tests/unit/app/layout.test.tsx
  tests/unit/components/Layout.test.tsx
  tests/unit/components/SentryUserContext.test.tsx
  tests/unit/lib/auth/withAdminRole.test.tsx
  tests/unit/lib/features/featureFlags.test.ts
Due: lint, format

style: apply prettier formatting from pre-commit hook
  .storybook/main.ts
Due: lint, format

chore: apply review suggestions on PR #429
  .gitignore
Due: none

chore: address bot feedback on PR #429
  next.config.js
  src/components/BetisLogo.stories.tsx
  src/components/ErrorBoundary.stories.tsx
  src/components/ErrorMessage.stories.tsx
  src/components/FeatureCard.stories.tsx
  src/components/Field.stories.tsx
  src/components/ImageGallery.stories.tsx
  src/components/LoadingSpinner.stories.tsx
  src/components/MessageComponent.stories.tsx
  src/components/OfflineDetector.stories.tsx
  src/components/StockIndicator.stories.tsx
  src/components/hero/CulturalFusionHero.stories.tsx
  src/components/hero/Hero.stories.tsx
  src/components/hero/HeroCommunity.stories.tsx
  src/components/match/CompetitionFilter.stories.tsx
  src/components/match/FilteredMatches.stories.tsx
  src/components/match/MatchCard.stories.tsx
  src/components/match/PaginatedMatches.stories.tsx
  src/components/match/ShareMatch.stories.tsx
  src/components/match/UpcomingMatchesWidget.stories.tsx
  src/components/patterns/PatternBackground.stories.tsx
  src/components/social/FacebookPagePlugin.stories.tsx
  src/components/social/InstagramEmbed.stories.tsx
  src/components/social/SocialMediaDashboard.stories.tsx
  src/components/ui/Badge.stories.tsx
  src/components/ui/Button.stories.tsx
  src/components/ui/Card.stories.tsx
  src/components/ui/Spinner.stories.tsx
  src/components/widgets/BetisPositionWidget.stories.tsx
  src/components/widgets/ClassificationWidget.stories.tsx
  src/components/widgets/CommunityStats.stories.tsx
Due: lint, format

style: apply prettier formatting from pre-commit hook
  next.config.js
  src/components/ui/Badge.stories.tsx
  src/components/ui/Button.stories.tsx
  src/components/ui/Card.stories.tsx
  src/components/ui/Spinner.stories.tsx
Due: lint, format

refactor: remove feature-flag abstraction, inline nav
  .env.local.example
  src/app/clasificacion/page.tsx
  src/app/layout.tsx
  src/app/nosotros/page.tsx
  src/app/page.tsx
  src/app/sitemap.ts
  src/app/unete/page.tsx
  src/components/hero/Hero.tsx
  src/components/hero/HeroCommunity.tsx
  src/components/layout/DebugInfoPanel.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.stories.tsx
  src/components/layout/Layout.tsx
  src/lib/features/featureFlags.ts
  src/lib/features/featureProtection.tsx
  tests/unit/app/clasificacion.test.tsx
  tests/unit/app/clasificacion/components.test.tsx
  tests/unit/app/nosotros.test.tsx
  tests/unit/app/page.test.tsx
  tests/unit/app/sitemap.test.ts
  tests/unit/app/unete.test.tsx
  tests/unit/components/Hero.test.tsx
  tests/unit/components/MatchCard.test.tsx
  tests/unit/lib/features/featureFlags.test.ts
  tests/unit/lib/features/featureProtection.test.tsx
Due: lint, format

style: apply prettier formatting from pre-commit hook
  src/app/nosotros/page.tsx
  tests/unit/app/nosotros.test.tsx
  tests/unit/app/unete.test.tsx
Due: lint, format

chore: address gemini feedback on PR #430
  src/app/sitemap.ts
Due: lint, format

refactor: remove feature-flag abstraction, inline nav (iteration 4/6) (#430)
  .env.local.example
  src/app/clasificacion/page.tsx
  src/app/layout.tsx
  src/app/nosotros/page.tsx
  src/app/page.tsx
  src/app/sitemap.ts
  src/app/unete/page.tsx
  src/components/hero/Hero.tsx
  src/components/hero/HeroCommunity.tsx
  src/components/layout/DebugInfoPanel.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.stories.tsx
  src/components/layout/Layout.tsx
  src/lib/features/featureFlags.ts
  src/lib/features/featureProtection.tsx
  tests/unit/app/clasificacion.test.tsx
  tests/unit/app/clasificacion/components.test.tsx
  tests/unit/app/nosotros.test.tsx
  tests/unit/app/page.test.tsx
  tests/unit/app/sitemap.test.ts
  tests/unit/app/unete.test.tsx
  tests/unit/components/Hero.test.tsx
  tests/unit/components/MatchCard.test.tsx
  tests/unit/lib/features/featureFlags.test.ts
  tests/unit/lib/features/featureProtection.test.tsx
Due: lint, format

docs: remove obsolete ADRs and DB/auth/trivia/feature-flag references
  .github/copilot-instructions.md
  .github/instructions/create-prd.instructions.md
  .github/instructions/debugging.instructions.md
  .github/instructions/deployment.instructions.md
  .github/instructions/development.instructions.md
  .github/instructions/maintenance.instructions.md
  .github/instructions/testing.instructions.md
  .github/workflows/ci.yml
  .github/workflows/scheduled-build.yml
  CLAUDE.md
  README.md
  docs/adr/001-clerk-authentication.md
  docs/adr/002-football-api.md
  docs/adr/003-supabase-database.md
  docs/adr/004-feature-flags.md
  docs/adr/005-classification-cache.md
  docs/adr/006-clerk-supabase-jwt.md
  docs/adr/008-testing-strategy.md
  docs/adr/009-storybook.md
  docs/adr/010-error-monitoring.md
  docs/adr/011-admin-notifications.md
  docs/adr/012-libraries.md
  docs/adr/013-security.md
  docs/adr/014-database-migrations.md
  docs/adr/README.md
  docs/architecture-simplification-plan.md
  docs/database-setup.md
  docs/deployment-guide.md
  docs/design-system.md
  docs/developer-guide.md
  docs/developer-setup.md
  docs/development/scripts.md
  docs/feature-flags-deployment.md
  docs/plans/db-removal-plan.md
  docs/roadmap.md
  docs/security/SECURITY.md
  docs/setup.md
  docs/testing-guide.md
Due: format

style: apply prettier formatting from pre-commit hook
  .github/instructions/create-prd.instructions.md
  .github/instructions/debugging.instructions.md
  .github/instructions/maintenance.instructions.md
  CLAUDE.md
  docs/adr/008-testing-strategy.md
  docs/adr/009-storybook.md
  docs/adr/010-error-monitoring.md
  docs/adr/012-libraries.md
  docs/adr/013-security.md
  docs/adr/README.md
  docs/deployment-guide.md
  docs/design-system.md
Due: format

chore: apply review suggestion on PR #431
  .github/instructions/maintenance.instructions.md
Due: format

chore: address gemini feedback on PR #431
  .github/instructions/development.instructions.md
  CLAUDE.md
Due: format

chore: address copilot feedback on PR #431
  .github/copilot-instructions.md
  .github/instructions/debugging.instructions.md
  .github/instructions/maintenance.instructions.md
  CLAUDE.md
  README.md
  docs/adr/002-football-api.md
  docs/adr/010-error-monitoring.md
  docs/adr/README.md
  docs/deployment-guide.md
  docs/developer-guide.md
  docs/security/SECURITY.md
  docs/testing-guide.md
Due: format

style: apply prettier formatting from pre-commit hook
  docs/deployment-guide.md
  docs/developer-guide.md
Due: format

docs: remove obsolete ADRs and DB/auth/trivia references (iteration 5/6) (#431)
  .github/copilot-instructions.md
  .github/instructions/create-prd.instructions.md
  .github/instructions/debugging.instructions.md
  .github/instructions/deployment.instructions.md
  .github/instructions/development.instructions.md
  .github/instructions/maintenance.instructions.md
  .github/instructions/testing.instructions.md
  .github/workflows/ci.yml
  .github/workflows/scheduled-build.yml
  CLAUDE.md
  README.md
  docs/adr/001-clerk-authentication.md
  docs/adr/002-football-api.md
  docs/adr/003-supabase-database.md
  docs/adr/004-feature-flags.md
  docs/adr/005-classification-cache.md
  docs/adr/006-clerk-supabase-jwt.md
  docs/adr/008-testing-strategy.md
  docs/adr/009-storybook.md
  docs/adr/010-error-monitoring.md
  docs/adr/011-admin-notifications.md
  docs/adr/012-libraries.md
  docs/adr/013-security.md
  docs/adr/014-database-migrations.md
  docs/adr/README.md
  docs/architecture-simplification-plan.md
  docs/database-setup.md
  docs/deployment-guide.md
  docs/design-system.md
  docs/developer-guide.md
  docs/developer-setup.md
  docs/development/scripts.md
  docs/feature-flags-deployment.md
  docs/plans/db-removal-plan.md
  docs/roadmap.md
  docs/security/SECURITY.md
  docs/setup.md
  docs/testing-guide.md
Due: format

chore: remove dead components, final cleanup pass
  .storybook/main.ts
  docs/security/SECURITY.md
  next.config.js
  src/components/match/CompetitionFilter.stories.tsx
  src/components/match/CompetitionFilter.tsx
  src/components/match/FilteredMatches.stories.tsx
  src/components/match/FilteredMatches.tsx
  src/components/match/PaginatedMatches.stories.tsx
  src/components/match/PaginatedMatches.tsx
  src/components/social/FacebookPagePlugin.stories.tsx
  src/components/social/FacebookPagePlugin.tsx
  src/components/social/InstagramEmbed.stories.tsx
  src/components/social/InstagramEmbed.tsx
  src/components/social/SocialMediaDashboard.stories.tsx
  src/components/social/SocialMediaDashboard.tsx
  src/lib/utils/logger.ts
  tests/integration/api/matches.test.ts
  tests/unit/components/CompetitionFilter.test.tsx
  tests/unit/components/FacebookPagePlugin.test.tsx
  tests/unit/components/FilteredMatches.test.tsx
  tests/unit/components/InstagramEmbed.test.tsx
  tests/unit/components/PaginatedMatches.test.tsx
  tests/unit/components/SocialMediaDashboard.test.tsx
  tests/unit/lib/logger.test.ts
Due: lint, format

style: apply prettier formatting from pre-commit hook
  src/lib/utils/logger.ts
Due: lint, format

chore: apply review suggestions on PR #432
  src/lib/utils/logger.ts
  tests/unit/lib/logger.test.ts
Due: lint, format

chore: address copilot feedback on PR #432
  docs/security/SECURITY.md
  next.config.js
Due: lint, format

chore: remove dead components, final cleanup pass (iteration 6/6) (#432)
  .storybook/main.ts
  docs/security/SECURITY.md
  next.config.js
  src/components/match/CompetitionFilter.stories.tsx
  src/components/match/CompetitionFilter.tsx
  src/components/match/FilteredMatches.stories.tsx
  src/components/match/FilteredMatches.tsx
  src/components/match/PaginatedMatches.stories.tsx
  src/components/match/PaginatedMatches.tsx
  src/components/social/FacebookPagePlugin.stories.tsx
  src/components/social/FacebookPagePlugin.tsx
  src/components/social/InstagramEmbed.stories.tsx
  src/components/social/InstagramEmbed.tsx
  src/components/social/SocialMediaDashboard.stories.tsx
  src/components/social/SocialMediaDashboard.tsx
  src/lib/utils/logger.ts
  tests/integration/api/matches.test.ts
  tests/unit/components/CompetitionFilter.test.tsx
  tests/unit/components/FacebookPagePlugin.test.tsx
  tests/unit/components/FilteredMatches.test.tsx
  tests/unit/components/InstagramEmbed.test.tsx
  tests/unit/components/PaginatedMatches.test.tsx
  tests/unit/components/SocialMediaDashboard.test.tsx
  tests/unit/lib/logger.test.ts
Due: lint, format

docs: refresh roadmap after static-site cleanup
  docs/roadmap.md
Due: format

chore: apply review suggestion on PR #433
  docs/roadmap.md
Due: format

chore: address gemini feedback on PR #433
  docs/roadmap.md
Due: format

docs: refresh roadmap after static-site cleanup (#433)
  docs/roadmap.md
Due: format

chore: drop FacebookSDK and trim Facebook CSP origins
  docs/roadmap.md
  docs/security/SECURITY.md
  next.config.js
  src/app/layout.tsx
  src/components/social/FacebookSDK.tsx
Due: lint, format

chore: address gemini feedback on PR #434
  docs/security/SECURITY.md
Due: format
