Repository IsmaelMartinez/betis-escocia: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx eslint --fix {staged_files}

format:
  run: npx prettier --write {staged_files}

chore: drop FacebookSDK and trim Facebook CSP origins (#434)
  docs/roadmap.md
  docs/security/SECURITY.md
  next.config.js
  src/app/layout.tsx
  src/components/social/FacebookSDK.tsx
Due: lint, format

chore: trim dead BusinessLogicError and unexported helpers from apiUtils
  src/lib/api/apiUtils.ts
Due: lint, format

chore: preserve undefined/null data-key omission in apiUtils
  src/lib/api/apiUtils.ts
Due: lint, format

chore: trim dead BusinessLogicError + unexported apiUtils helpers (#435)
  src/lib/api/apiUtils.ts
Due: lint, format

chore: strip dead logger helpers (auth, apiRequest, business, child)
  src/lib/utils/logger.ts
  tests/unit/lib/logger.test.ts
Due: lint, format

chore: trim stale logger mock stubs in footballApi.test.ts
  tests/integration/external/footballApi.test.ts
Due: lint, format

chore: strip dead logger helpers (auth, apiRequest, business, child) (#436)
  src/lib/utils/logger.ts
  tests/integration/external/footballApi.test.ts
  tests/unit/lib/logger.test.ts
Due: lint, format

style: apply prettier formatting
  docs/design-system.md
Due: format

chore: address review feedback on storybook removal
  .github/instructions/maintenance.instructions.md
  .github/instructions/testing.instructions.md
  docs/developer-guide.md
Due: format

chore: final cleanup sweep — dead schemas, MSW, stale config
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  package-lock.json
  package.json
  public/manifest.json
  src/lib/schemas/admin.ts
  src/lib/schemas/index.ts
  src/lib/utils/standardErrors.ts
  tasks/ideas.md
  tests/msw/handlers.ts
  tests/msw/server.ts
  tests/setup.ts
  tests/unit/components/ClassificationWidget.test.tsx
  tests/unit/lib/schemas/admin.test.ts
  tests/unit/lib/schemas/index.test.ts
  tests/unit/lib/schemas/performance.test.ts
  tests/unit/lib/schemas/security.test.ts
  tests/unit/lib/utils/standardErrors.test.ts
  vitest.config.ts
Due: lint, format

chore: remove Sentry error monitoring
  .env.local.example
  .github/instructions/debugging.instructions.md
  .github/instructions/deployment.instructions.md
  .github/instructions/maintenance.instructions.md
  CLAUDE.md
  README.md
  cleanup-tasks.html
  docs/adr/010-error-monitoring.md
  docs/adr/README.md
  docs/deployment-guide.md
  docs/developer-guide.md
  docs/roadmap.md
  docs/security/SECURITY.md
  next.config.js
  package-lock.json
  package.json
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/global-error.tsx
  src/app/layout.tsx
  src/instrumentation-client.ts
  src/instrumentation.ts
  tests/unit/app/global-error.test.tsx
  vitest.config.ts
Due: lint, format

chore: remove temporary cleanup-tasks.html checklist
  cleanup-tasks.html
Due: none

style: apply prettier formatting
  src/app/global-error.tsx
Due: lint, format

chore: preserve console.error/warn in production builds
  next.config.js
Due: lint, format

chore: remove Sentry error monitoring (#439)
  .env.local.example
  .github/instructions/debugging.instructions.md
  .github/instructions/deployment.instructions.md
  .github/instructions/maintenance.instructions.md
  CLAUDE.md
  README.md
  docs/adr/010-error-monitoring.md
  docs/adr/README.md
  docs/deployment-guide.md
  docs/developer-guide.md
  docs/roadmap.md
  docs/security/SECURITY.md
  next.config.js
  package-lock.json
  package.json
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/global-error.tsx
  src/app/layout.tsx
  src/instrumentation-client.ts
  src/instrumentation.ts
  tests/unit/app/global-error.test.tsx
  vitest.config.ts
Due: lint, format

docs: final cleanup pass — robots.txt, MSW mentions, refreshed roadmap
  docs/roadmap.md
  docs/testing-guide.md
  public/robots.txt
Due: format

docs: address review feedback on roadmap wording
  docs/roadmap.md
Due: format

docs: final cleanup pass — robots.txt, MSW mentions, refreshed roadmap (#440)
  docs/roadmap.md
  docs/testing-guide.md
  public/robots.txt
Due: format

fix: use real brand tokens in error.tsx
  src/app/error.tsx
Due: lint, format

fix: use arbitrary-value hover variant so error.tsx hover actually fires
  src/app/error.tsx
Due: lint, format

fix: use real brand tokens in error.tsx (#441)
  src/app/error.tsx
Due: lint, format

fix: register brand colours in @theme so hover/focus variants generate
  src/app/error.tsx
  src/app/globals.css
Due: lint, format

chore: register betis-blanco/negro in @theme for canonical-name consistency
  src/app/globals.css
Due: none

fix: register brand colours in @theme so hover/focus variants work project-wide (#443)
  src/app/error.tsx
  src/app/globals.css
Due: lint, format

fix: darken hover:text-betis-verde on light backgrounds
  src/app/jugadores-historicos/page.tsx
  src/app/page.tsx
  src/app/partidos/[matchId]/page.tsx
Due: lint, format

style: apply prettier formatting
  src/app/jugadores-historicos/page.tsx
  src/app/partidos/[matchId]/page.tsx
Due: lint, format

chore: match hover border to hover text on era filter pills
  src/app/jugadores-historicos/page.tsx
Due: lint, format

fix: darken hover:text-betis-verde on light backgrounds (#444)
  src/app/jugadores-historicos/page.tsx
  src/app/page.tsx
  src/app/partidos/[matchId]/page.tsx
Due: lint, format

fix(deps): bump @babel/core to patched version (Dependabot)
  package-lock.json
Due: format

fix(deps): bump @babel/core to patched version (Dependabot) (#460)
  package-lock.json
Due: format

fix(deps): resolve npm audit vulnerabilities (ws, brace-expansion, OpenTelemetry)
  package-lock.json
  package.json
Due: format

refactor(deps): scope @sentry/node override to lighthouse
  package.json
Due: format

fix(deps): resolve npm audit vulnerabilities (ws, brace-expansion, OpenTelemetry) (#471)
  package-lock.json
  package.json
Due: format

fix(deps): force sharp >=0.35.0 via next-scoped override (GHSA-f88m-g3jw-g9cj)
  package-lock.json
  package.json
Due: format

fix(deps): clear 7 HIGH advisories via lockfile refresh
  package-lock.json
Due: format

fix(deps): force sharp >=0.35.0 via next-scoped override (GHSA-f88m-g3jw-g9cj) (#475)
  package-lock.json
  package.json
Due: format

fix(deps): clear 7 HIGH advisories via lockfile refresh (#476)
  package-lock.json
Due: format

fix(deps): bump nanoid to 3.3.18 and js-yaml to 4.3.1
  package-lock.json
Due: format

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx}
  format: any of: *.{ts,tsx,js,jsx,json,md}
