Repository IsmaelMartinez/betis-escocia: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx eslint --fix {staged_files}

format:
  run: npx prettier --write {staged_files}

docs: mark pagination as done in research doc
  docs/research/2025-12-soylenti-phase2-evolution.md
Due: format

docs: mark pagination as done in research doc (PR #209)
  docs/research/2025-12-soylenti-phase2-evolution.md
Due: format

docs: mark pagination as done in research doc (PR #209) (#210)
  docs/research/2025-12-soylenti-phase2-evolution.md
Due: format

chore: remove show-social-media feature flag and protect /partidos links
  docs/feature-flags-deployment.md
  src/app/page.tsx
  src/app/sitemap.ts
  src/app/unete/page.tsx
  src/components/Hero.tsx
  src/components/HeroCommunity.tsx
  src/lib/featureFlags.ts
  tests/unit/lib/featureFlags.test.ts
Due: lint, format

style: apply prettier formatting
  docs/feature-flags-deployment.md
  src/app/sitemap.ts
  src/components/Hero.tsx
Due: lint, format

chore: increase sync-rumors timeout to 30 minutes
  .github/workflows/sync-rumors.yml
Due: none

fix: address PR review comments
  tests/unit/app/sitemap.test.ts
  tests/unit/components/Hero.test.tsx
  tests/unit/components/HeroCommunity.test.tsx
Due: lint, format

feat: wrap RSVP links with FeatureWrapper for show-rsvp flag
  src/app/galeria/page.tsx
  src/app/nosotros/page.tsx
  src/components/MatchCard.tsx
  src/components/MatchTicket.tsx
  src/components/UpcomingMatchesWidget.tsx
  tests/unit/app/galeria.test.tsx
  tests/unit/app/nosotros.test.tsx
  tests/unit/app/sitemap.test.ts
  tests/unit/components/Hero.test.tsx
  tests/unit/components/HeroCommunity.test.tsx
  tests/unit/components/MatchCard.test.tsx
  tests/unit/components/UpcomingMatchesWidget.test.tsx
Due: lint, format

chore: remove show-social-media flag and protect /partidos links (#211)
  .github/workflows/sync-rumors.yml
  docs/feature-flags-deployment.md
  src/app/galeria/page.tsx
  src/app/nosotros/page.tsx
  src/app/page.tsx
  src/app/sitemap.ts
  src/app/unete/page.tsx
  src/components/Hero.tsx
  src/components/HeroCommunity.tsx
  src/components/MatchCard.tsx
  src/components/MatchTicket.tsx
  src/components/UpcomingMatchesWidget.tsx
  src/lib/featureFlags.ts
  tests/unit/app/galeria.test.tsx
  tests/unit/app/nosotros.test.tsx
  tests/unit/app/sitemap.test.ts
  tests/unit/components/Hero.test.tsx
  tests/unit/components/HeroCommunity.test.tsx
  tests/unit/components/MatchCard.test.tsx
  tests/unit/components/UpcomingMatchesWidget.test.tsx
  tests/unit/lib/featureFlags.test.ts
Due: lint, format

feat(soylenti): add transfer direction tracking (in/out)
  sql/0003_add_transfer_direction.sql
  src/app/soylenti/SoylentiClient.tsx
  src/app/soylenti/actions.ts
  src/app/soylenti/page.tsx
  src/components/RumorCard.tsx
  src/lib/supabase.ts
  src/services/geminiService.ts
  src/services/rumorSyncService.ts
  tests/integration/services/rumorSyncService.test.ts
  tests/unit/services/geminiService.test.ts
Due: lint, format

feat(soylenti): implement Phase 2A player name extraction
  sql/0004_add_players_tables.sql
  src/app/soylenti/SoylentiClient.tsx
  src/app/soylenti/actions.ts
  src/app/soylenti/page.tsx
  src/components/RumorCard.tsx
  src/lib/supabase.ts
  src/services/geminiService.ts
  src/services/playerNormalizationService.ts
  src/services/rumorSyncService.ts
  tests/integration/services/rumorSyncService.test.ts
  tests/unit/services/geminiService.test.ts
Due: lint, format

feat: add player backfill script for existing news records
  package.json
  scripts/backfill-players.ts
  scripts/sync-rumors.ts
  src/services/playerNormalizationService.ts
Due: lint, format

chore: remove backfill-players script
  package.json
  scripts/backfill-players.ts
Due: lint, format

feat: filter out news older than 6 months
  src/services/rssFetcherService.ts
  tests/unit/services/rssFetcherService.test.ts
Due: lint, format

feat: improve player detection accuracy
  package-lock.json
  package.json
  src/services/articleFetcherService.ts
  src/services/geminiService.ts
  src/services/rumorSyncService.ts
  tests/unit/services/rssFetcherService.test.ts
Due: lint, format

fix: address PR review comments
  src/components/RumorCard.tsx
  src/services/playerNormalizationService.ts
Due: lint, format

fix: improve player detection
  .claude/settings.local.json
  src/services/geminiService.ts
  src/services/rssFetcherService.ts
  src/services/rumorSyncService.ts
Due: lint, format

fix: prevent Gemini hallucinations in player extraction
  .claude/settings.local.json
  src/services/geminiService.ts
Due: lint, format

feat: filter out news older than 6 months
  .claude/settings.local.json
  package-lock.json
  package.json
  scripts/sync-rumors.ts
  sql/0003_add_transfer_direction.sql
  sql/0004_add_players_tables.sql
  src/app/soylenti/SoylentiClient.tsx
  src/app/soylenti/actions.ts
  src/app/soylenti/page.tsx
  src/components/RumorCard.tsx
  src/lib/supabase.ts
  src/services/articleFetcherService.ts
  src/services/geminiService.ts
  src/services/playerNormalizationService.ts
  src/services/rssFetcherService.ts
  src/services/rumorSyncService.ts
  tests/integration/services/rumorSyncService.test.ts
  tests/unit/services/geminiService.test.ts
  tests/unit/services/rssFetcherService.test.ts
Due: lint, format

fix: increase sync-rumors timeout and fix test cleanup
  .github/workflows/sync-rumors.yml
  tests/unit/components/PaginatedMatches.test.tsx
Due: lint, format

style: apply prettier formatting to test file
  tests/unit/components/PaginatedMatches.test.tsx
Due: lint, format

fix: move axios and jsdom to production dependencies
  package-lock.json
  package.json
Due: format

docs: mark Phase 2A complete and outline Phase 2B next steps
  docs/adr/015-ai-rumor-scoring.md
  docs/research/2025-12-soylenti-phase2-evolution.md
Due: format

Revert "fix: move axios and jsdom to production dependencies"
  package-lock.json
  package.json
Due: format

docs: refocus Phase 2B on trend analysis instead of position classification
  docs/research/2025-12-soylenti-phase2-evolution.md
Due: format

Fix production deployment timeout issue (#214)
  .github/workflows/sync-rumors.yml
  tests/unit/components/PaginatedMatches.test.tsx
Due: lint, format

feat: add trending players with click-to-filter (Phase 2B)
  src/app/api/soylenti/trending/route.ts
  src/app/soylenti/SoylentiClient.tsx
  src/app/soylenti/actions.ts
  src/app/soylenti/page.tsx
  src/components/TrendingPlayers.tsx
  src/lib/supabase.ts
Due: lint, format

docs: mark Phase 2B trend analysis as complete
  docs/research/2025-12-soylenti-phase2-evolution.md
Due: format

chore: apply prettier formatting
  docs/research/2025-12-soylenti-phase2-evolution.md
  src/app/soylenti/SoylentiClient.tsx
Due: lint, format

fix: lower trending threshold to show players with 1+ mentions
  docs/research/2025-12-soylenti-phase2-evolution.md
  src/app/api/soylenti/trending/route.ts
  src/app/soylenti/page.tsx
Due: lint, format

Improve player identification and remove in/out direction
  src/app/soylenti/SoylentiClient.tsx
  src/app/soylenti/actions.ts
  src/app/soylenti/page.tsx
  src/components/RumorCard.tsx
  src/lib/supabase.ts
  src/services/geminiService.ts
  src/services/playerNormalizationService.ts
  src/services/rumorSyncService.ts
  tests/unit/services/geminiService.test.ts
Due: lint, format

chore: format test file
  tests/unit/services/geminiService.test.ts
Due: lint, format

feat: add collapsible sidebar for trending players
  src/app/soylenti/SoylentiClient.tsx
Due: lint, format

chore: apply prettier formatting
  src/app/soylenti/SoylentiClient.tsx
Due: lint, format

chore: remove unused role field from news_players queries
  src/app/soylenti/actions.ts
  src/app/soylenti/page.tsx
Due: lint, format

chore: format soylenti files
  src/app/soylenti/actions.ts
  src/app/soylenti/page.tsx
Due: lint, format

Improve player name and status identification (#216)
  src/app/soylenti/SoylentiClient.tsx
  src/app/soylenti/actions.ts
  src/app/soylenti/page.tsx
  src/components/RumorCard.tsx
  src/lib/supabase.ts
  src/services/geminiService.ts
  src/services/playerNormalizationService.ts
  src/services/rumorSyncService.ts
  tests/unit/services/geminiService.test.ts
Due: lint, format

chore: update dependencies
  package-lock.json
  package.json
Due: format

Address PR review comments for trending players
  src/app/api/soylenti/trending/route.ts
  src/app/soylenti/page.tsx
  src/components/TrendingPlayers.tsx
  src/lib/data/players.ts
  tests/integration/api/soylenti/trending.test.ts
  tests/unit/components/TrendingPlayers.test.tsx
Due: lint, format

Add aria-label to clear filter buttons
  src/app/soylenti/SoylentiClient.tsx
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx}
  format: any of: *.{ts,tsx,js,jsx,json,md}
