Repository IsmaelMartinez/betis-escocia: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: npx eslint --fix {staged_files}
    format:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: npx prettier --write {staged_files}
    type-check:
      run: npm run type-check

fix: Add daily standings refresh and stale cache fallback (#362)
  .github/workflows/refresh-standings.yml
  src/app/api/standings/route.ts
Due: lint, format

chore: add MIT license
  LICENSE
Due: none

ci: disable E2E tests — no Supabase database available
  .github/workflows/ci.yml
Due: none

ci: disable E2E tests — no Supabase database available (#371)
  .github/workflows/ci.yml
Due: none

chore: add MIT license (#370)
  LICENSE
Due: none

docs: add community health files
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: format

docs: add community health files (#375)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: format

docs: address review feedback on bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

docs: address review feedback on pull_request_template.md
  .github/pull_request_template.md
Due: format

docs: address review feedback on CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: format

docs: address review feedback on CONTRIBUTING.md
  CONTRIBUTING.md
Due: format

docs: address review feedback on feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

docs: make Environment field required in bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

docs: add specific local quality check commands to CONTRIBUTING.md
  CONTRIBUTING.md
Due: format

docs: address review feedback (#376)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: format

fix(deps): update vulnerable dependencies
  package-lock.json
Due: format

fix(deps): update vulnerable dependencies (#377)
  package-lock.json
Due: format

fix(deps): update vite to 8.0.5 to resolve security advisories
  package-lock.json
Due: format

fix(deps): update vite to 8.0.5 to resolve security advisories (#383)
  package-lock.json
Due: format

chore(deps): update all dependencies to latest semver-compatible versions
  package-lock.json
  src/instrumentation-client.ts
Due: lint, format

style: apply Prettier formatting to instrumentation-client.ts
  src/instrumentation-client.ts
Due: lint, format

docs: add project roadmap with priorities and status tracking
  docs/README.md
  docs/roadmap.md
Due: format

style: apply Prettier formatting to roadmap.md
  docs/roadmap.md
Due: format

chore(deps): update all dependencies to latest semver-compatible versions (#391)
  docs/README.md
  docs/roadmap.md
  package-lock.json
  src/instrumentation-client.ts
Due: lint, format

Translate sub-components and widgets for i18n language switching
  messages/en.json
  messages/es.json
  src/app/[locale]/clasificacion/page.tsx
  src/components/layout/Layout.tsx
  src/components/match/AllDatabaseMatches.tsx
  src/components/match/UpcomingMatchesWidget.tsx
  src/components/widgets/BetisEfemerides.tsx
  src/components/widgets/BetisPositionWidget.tsx
  src/components/widgets/ClassificationWidget.tsx
  src/components/widgets/CommunityStats.tsx
  tests/unit/components/AllDatabaseMatches.test.tsx
  tests/unit/components/BetisEfemerides.test.tsx
  tests/unit/components/BetisPositionWidget.test.tsx
  tests/unit/components/ClassificationWidget.test.tsx
  tests/unit/components/CommunityStats.test.tsx
  tests/unit/components/UpcomingMatchesWidget.test.tsx
Due: lint, format

style: Apply pre-commit formatter changes
  src/components/match/AllDatabaseMatches.tsx
  src/components/match/UpcomingMatchesWidget.tsx
  src/components/widgets/BetisEfemerides.tsx
  src/components/widgets/BetisPositionWidget.tsx
  src/components/widgets/ClassificationWidget.tsx
  src/components/widgets/CommunityStats.tsx
  tests/unit/components/AllDatabaseMatches.test.tsx
  tests/unit/components/BetisEfemerides.test.tsx
  tests/unit/components/BetisPositionWidget.test.tsx
  tests/unit/components/ClassificationWidget.test.tsx
  tests/unit/components/CommunityStats.test.tsx
  tests/unit/components/UpcomingMatchesWidget.test.tsx
Due: lint, format

Apply prettier formatting to previously-touched files
  src/app/admin/AdminPageClient.tsx
  src/app/error.tsx
  src/app/not-found.tsx
  src/app/partidos/page.tsx
  src/app/sign-in/[[...rest]]/page.tsx
  src/app/sign-up/[[...rest]]/page.tsx
  src/app/sitemap.ts
  src/components/hero/CulturalFusionHero.stories.tsx
  src/components/match/AllDatabaseMatches.tsx
  src/components/match/UpcomingMatches.tsx
  src/components/match/UpcomingMatchesWidget.tsx
  src/lib/auth/withAdminRole.tsx
  src/lib/schemas/index.ts
  src/lib/utils/standardErrors.ts
  src/types/match.ts
  tests/unit/app/admin/page.test.tsx
  tests/unit/app/not-found.test.tsx
  tests/unit/app/partidos/page.test.tsx
  tests/unit/app/sitemap.test.ts
  tests/unit/components/AllDatabaseMatches.test.tsx
  tests/unit/components/MatchCard.test.tsx
  tests/unit/components/UpcomingMatches.test.tsx
  tests/unit/components/UpcomingMatchesWidget.test.tsx
  tests/unit/lib/api/supabase.test.ts
  tests/unit/lib/auth/withAdminRole.test.tsx
  tests/unit/lib/features/featureProtection.test.tsx
  tests/unit/lib/schemas/index.test.ts
  tests/unit/lib/utils/standardErrors.test.ts
  tests/unit/middleware-extended.test.ts
  tests/unit/middleware.test.ts
Due: lint, format

Clean up stale references to removed features
  .env.local.example
  .github/instructions/development.instructions.md
  tests/unit/components/HeroCommunity.test.tsx
Due: lint, format

Apply prettier formatting to development.instructions.md
  .github/instructions/development.instructions.md
Due: format

chore(docs): repo cleanup and docs catch-up after RSVP/Contacto/GDPR removal
  .github/copilot-instructions.md
  .github/instructions/debugging.instructions.md
  .github/instructions/development.instructions.md
  .github/instructions/testing.instructions.md
  CLAUDE.md
  README.md
  STAGING_TEST.md
  docs/adr/003-supabase-database.md
  docs/adr/004-feature-flags.md
  docs/adr/011-admin-notifications.md
  docs/adr/README.md
  docs/architecture-simplification-plan.md
  docs/developer-guide.md
  docs/feature-flags-deployment.md
  docs/roadmap.md
  docs/testing-guide.md
  e2e/admin.spec.ts
  e2e/navigation.spec.ts
  playwright.config.ts
  sql/README.md
  tasks/ideas.md
Due: lint, format

chore(docs): apply prettier formatting to previously-touched files
  .github/instructions/debugging.instructions.md
  .github/instructions/testing.instructions.md
  README.md
  docs/adr/003-supabase-database.md
  docs/adr/README.md
  docs/architecture-simplification-plan.md
  docs/roadmap.md
  tasks/ideas.md
Due: format

chore(env): fix stale flags and defaults in .env.local.example
  .env.local.example
Due: none

chore(docs): repo cleanup and docs catch-up after RSVP/Contacto/GDPR removal (#393)
  .env.local.example
  .github/copilot-instructions.md
  .github/instructions/debugging.instructions.md
  .github/instructions/development.instructions.md
  .github/instructions/testing.instructions.md
  CLAUDE.md
  README.md
  STAGING_TEST.md
  docs/adr/003-supabase-database.md
  docs/adr/004-feature-flags.md
  docs/adr/011-admin-notifications.md
  docs/adr/README.md
  docs/architecture-simplification-plan.md
  docs/developer-guide.md
  docs/feature-flags-deployment.md
  docs/roadmap.md
  docs/testing-guide.md
  e2e/admin.spec.ts
  e2e/navigation.spec.ts
  playwright.config.ts
  sql/README.md
  tasks/ideas.md
Due: lint, format

chore(deps): bump typescript to 6, undici to 8, lucide-react to 1
  package-lock.json
  package.json
  src/components/social/FacebookPagePlugin.tsx
Due: lint, format

style: apply prettier formatting to FacebookPagePlugin
  src/components/social/FacebookPagePlugin.tsx
Due: lint, format

chore(deps): bump typescript to 6, undici to 8, lucide-react to 1 (#394)
  package-lock.json
  package.json
  src/components/social/FacebookPagePlugin.tsx
Due: lint, format

refactor(layout): split Layout.tsx into Header, Footer, UserMenu, DebugInfoPanel
  docs/roadmap.md
  src/components/layout/DebugInfoPanel.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/UserMenu.tsx
Due: lint, format

style(layout): apply prettier formatting to Layout and UserMenu
  src/components/layout/Layout.tsx
  src/components/layout/UserMenu.tsx
Due: lint, format
